<div class="graphs">
  <%
  var defaultGraph = model.defaultGraph()
  %>
  <h2><%= defaultGraph.title %></h2>
  <ul class="menu">
    <% jQuery.each(model.menu, function(i, menu) { %>
      <li>
      <%= menu.title %>:
      <ul class="submenu">
        <% jQuery.each(menu.submenu, function(i, leaf) { %>
          <li><a class="displays" href="#" data-key="<%= leaf.graph.uri %>"><%= leaf.title %></a></li>
        <% }); %>
      </ul>
      </li>
    <% }); %>
  </ul>
  <div class="graph">
    <img src="<%= defaultGraph.image %>" />
  </div>
</div>
