<% jQuery.each(model, function(i, category) { %>
  <h2><%= category.name %></h2>
  <% jQuery.each(category.events, function(j, ev) { %>
  <li>
    <p class="name"><%= ev.name %></p>
      <%
      jQuery.each(ev.sources, function(k, source) {
        if (source.name == "all") {
        jQuery.each(source.types, function(l, type) {
      %>
      <a class="renders" href="<%= type.url %>" title="<%= type.title %>"><%= type.grapher %></a>
      <%
        });
        }
      });
      %>
  </li>
<%
  });
});
%>
