<h1>Source: <%= @source.display_name %></h1>

<ul class="events">
  <% @source.events.each do |event| %>
    <li>
      <p class="name">
        <%= event.display_name %>
      </p>
      <a class='renders'
        title="<%= @source.name %>/<%= event.name %>/yesno"
        href="<%= url(:render, :source => @source.name, :event => event.name, :grapher => :yesno, :start_at => '1day', :end_at => 'now') %>">
        YesNo
      </a>
      <a class='renders'
        title="<%= @source.name %>/<%= event.name %>/quartiles"
        href="<%= url(:render, :source => @source.name, :event => event.name, :grapher => :quartiles, :start_at => '1day', :end_at => 'now') %>">
        Quartiles
      </a>
    </li>
  <% end %>
</ul>

<div id="canvas"></div>

<script type="text/javascript">
$(function() {
  var global = this;

  global.initialize = function() {
    var self = this;
    self.map = {};
    $('.renders').click(function(target) {
      if ($(this).hasClass('visible'))
      {
        self.map[this.title].remove();
        delete self.map[this.title];
      }
      else
      {
        var holder = self.renderGraph(this);
        $('#canvas').append(holder);
        self.map[this.title] = holder;
      }
      $(this).toggleClass('visible');
      return false;
    });
  };

  global.renderGraph = function(target) {
    var holder = $('<div></div>');
    holder.append("<h2>" + target.title + "</h2>");
    holder.append("<img src='" + target.href + "' />");
    return holder;
  };

  global.initialize();
});
</script>
